
.arial{
    
     height:200px;
    

  }
  


.trail{
  height: 10px;
  
 
    
    

}



h1{
    font-size: 60px;
    font-family:cursive;
    color:Navy;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}

#header {
    display: block;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 20px;
    height: 10%;
    z-index: 3;
    align-content: left;
}
.footer {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    color: white;
    background-color: black;
    padding: 20px;
    height: 20%
}
body{
    background-color: silver;
}
/*
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; Green
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; 
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
  }
  */
  
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
 
  