#header {
    display: block;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 20px;
    height: 10%;
    z-index: 3;
    align-content: left;
}

/* carousel */
.carousel {
    display: flex;
    /* width: 100%;
    text-align: center; */
}

/* user input and button */
.input-group {
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 25%;
    margin-left: 25%;
    max-width: 50%;
    min-width: 30%;
}

.form-control {
    padding: 2%;
    z-index: 1;
    border: none;
    border-radius: 0;
}
.btn {
    border: none;
    color: white;
    border-radius: 0;
    width: 5em;
}

/* map */
.map-container {
    display: flex;
    width: 100vw;
    /* max-height: 300px; */
    padding: 2em;
}
iframe {
    width: 96vw;
    min-height: 30vh;
    max-height: 50vh;
    margin: 1em;
}

/* cards */
.searchResults {
    display:flex;
    justify-content: center;
    background-color: white;
    margin: 0;
}
.card{
    margin: 1em;
    border: none;
    border-radius: 0;
    box-shadow: 0px 4px 10px grey;
    transition: all 300ms ease-in-out;
}

.card:hover{
    box-shadow:0px 20px 50px;
    

}

p {
position: relative;
text-decoration:none;
font-family: 'Poppins', sans-serif;
color: black;
font-size: 14px;
letter-spacing: 0.5px;
padding: 0 10px;
}

p:after{
    content:"";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

p:hover:after{
    width: 100%;
}



.card-body{
   
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    margin-top: 1em;
    
}
/* footer */

.footer {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    color: white;
    background-color: black;
    padding: 20px;
    height: 20%
}

/* styling for media queries */
.card-img-top {
    /* restrict the image size/bounds */
}

@media only screen and (max-width: 767px) {
    /* adjust all sizes and placements here*/
    .searchResults{
        background-color: black;
        

        /* taking out rounded corners */
    }
    .card {
        border-radius: 0;
        margin: 5px;
        padding: 5px;
        
    }
    .btn {

    }
}

.progress-bar {
    position:relative;
    width: 500px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;
}

.progress {

    height:3em;
}

.spinner-container {
    display: none;
}
