.container-fluid{
    display: flex;
    justify-content: flex-start;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    max-height: 90px;
    z-index: 3;
}
.nav-bar-menu {
    display: flex;
}
#nav-bar-item {
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    font-family: 'Cantarell', sans-serif;
}
#nav-bar-item-shred {
    font-size: 3em;
    display: flex;
    margin-top: 1rem;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
a:hover {
    color: #5bc0de;
  }
 a:active{
    color: #f0ad4e;
 }
a{
    text-decoration: none;
    color: white;
}
.logo {
    justify-content: flex-start;
    max-height: 70px;
    margin-top: 10px;
}
/*------------carousel------------ */
.carousel {
    display: flex;
}
/*----------spinner-------------*/
.spinner-container {
    display: none;
    z-index: 5;
    color: #f0ad4e;
}
.d-flex {
    display: flex;
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
    max-width: 50%;
    min-width: 30%;
    z-index: inherit;
}
/*------user input and button-------*/
.input-group {
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 25%;
    margin-left: 25%;
    max-width: 50%;
    min-width: 30%;
}
.form-control {
    padding: 2%;
    z-index: 1;
    border: none;
    border-radius: 0;
    font-family: 'Cantarell', sans-serif;
}
.btn-info {
    border: none;
    color: white;
    border-radius: 0;
    width: 5em;
}
/*---------------map---------------- */
.map-container {
    display: flex;
    width: 100vw;
    background-color: white;
}
iframe {
    width: 100vw;
    min-height: 30vh;
    max-height: 50vh;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
/*--------------cards------------------ */
.searchResults {
    display:flex;
    justify-content: center;
    background-color: rgba(253, 252, 252, 0.441);
    margin: 0;
}
.card{
    margin: 1em;
    border: none;
    border-radius: 0;
    box-shadow: 0px 4px 10px grey;
    transition: all 300ms ease-in-out;
}
.card:hover{
    box-shadow:0px 20px 50px;
}
p {
position: relative;
text-decoration:none;
font-family: 'Poppins', sans-serif;
color: black;
font-size: 14px;
letter-spacing: 0.5px;
padding: 0 10px;
}
p:after{
    content:"";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
p:hover:after{
    width: 100%;
}
.card-body{
    font-family: 'Cantarell', sans-serif;
}
h5 {
    font-family: 'Cantarell', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
}
.card-img-top {
    width: 100%;
    height: 25vw;
    margin-top: 1em;
    object-fit: cover;
}
#details-button:hover{
    background-color: #f0ad4e;
    color: white;
}
#mapsButton:hover{
    background-color: #f0ad4e;
    color: white;
} 
/* --------------footer--------------- */
.footer {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 10px;
    height: 20%;
    bottom: 0;
    z-index: 3;
    font-family: 'Cantarell', sans-serif;
}
/* styling for media queries */
@media only screen and  (max-width: 920px) {
    .btn-info {
        border: none;
        color: white;
        border-radius: 0;
        width: 3em;
    }
    .card {
        border-radius: 0;
        margin: 15px;
        margin: 20px;
        padding: 5px;
    }
    .container-fluid {
        display: flex;
        justify-content: flex-start;
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        background-color: black;
        height: 20%;
        z-index: 3;
    }
    #nav-bar-item-shred{
        font-size: 2em;
        display: flex;
        margin-top: 1rem;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
    #nav-bar-item {
        display: flex;
        padding: 1rem;
        margin-top: 1rem;
        font-size: small;
        font-family: 'Cantarell', sans-serif;
    }
    .maps-button{
        padding: 0;
    }
    .details-button {
        padding: 0;
    }
}
@media only screen and  (max-width: 480px) {
    .btn-info {
        border: none;
        color: white;
        border-radius: 0;
        width: 3em;
    }
    .card {
        border-radius: 0;
        margin: 5px;
        padding: 5px;
    }
    .container-fluid {
        display: flex;
        justify-content: flex-start;
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        background-color: black;
        height: 20%;
        z-index: 3;
    }
    .logo {
        max-height: 50px;
        margin-top: 20px;
    }
    #nav-bar-item-shred{
        font-size: 1em;
        display: flex;
        margin-top: 2rem;
        color: white;
    font-family: 'Permanent Marker', cursive;
    }
    #nav-bar-item {
        display: flex;
        margin-top: 7%;
        font-size: x-small;
        font-family: 'Cantarell', sans-serif;
    }
    #mapsButton {
    }


}

@media only screen and  (max-width: 680px) {
    .btn-info {
        border: none;
        color: white;
        border-radius: 0;
        width: 3em;
    }
    .card {
        border-radius: 0;
        margin: 5px;
        padding: 5px;
    }
    .container-fluid {
        display: flex;
        justify-content: flex-start;
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        background-color: black;
        height: 20%;
        z-index: 3;
    }
   .logo {
       display: none;
    }
    #nav-bar-item-shred{
        font-size: 1em;
        display: flex;
        margin-top: 2rem;
        color: white;
    font-family: 'Permanent Marker', cursive;
    }
    #nav-bar-item {
        display: flex;
        margin-top: 7%;
        font-size: x-small;
        font-family: 'Cantarell', sans-serif;
    }
}


