#header {
    /* this needs styling */
    display: flex;
    color: white;
    background-color: black;
    padding: 20px;
    height: 20%
}


/* carousel */
.carousel {
    display: flex;
    /* width: 100%;
    text-align: center; */
}

.input-group {
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 25%;
    margin-left: 25%;
    max-width: 50%;
    min-width: 30%;
}

.form-control {
    
    padding: 2%;
    z-index: 1;
    border: none;
    border-radius: 0;
}
.btn {
    border: none;
    color: white;
    border-radius: 0;
}

/* footer */

.footer {
    display: flex;
    color: white;
    background-color: black;
    padding: 20px;
    height: 20%
}