#header {
    display: block;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 20px;
    height: 10%;
    z-index: 3;
    align-content: left;
}

/* carousel */
.carousel {
    display: flex;
    /* width: 100%;
    text-align: center; */
}

/* user input and button */
.input-group {
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 25%;
    margin-left: 25%;
    max-width: 50%;
    min-width: 30%;
}

.form-control {
    padding: 2%;
    z-index: 1;
    border: none;
    border-radius: 0;
}
.btn {
    border: none;
    color: white;
    border-radius: 0;
    width: 5em;
}

/* map */
.map-container {
    display: flex;
    width: 100vw;
    max-height: 300px;
    padding: 2em;
}
iframe {
    width: 96vw;
    min-height: 30vh;
    max-height: 50vh;
    margin: 1em;
}

/* cards */
.searchResults {
    display:flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}
.card{
    margin: 1em;
    border: none;
    border-radius: 0;
}
.card-body{
    
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    margin-top: 1em;
    
}
/* footer */

.footer {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    color: white;
    background-color: black;
    padding: 20px;
    height: 20%
}

/* styling for media queries */
.card-img-top {
    /* restrict the image size/bounds */
}

@media only screen and (max-width: 767px) {
    /* adjust all sizes and placements here*/
    .searchResults{
        background-color: black;
        

        /* taking out rounded corners */
    }
    .card {
        border-radius: 0;
        margin: 5px;
        padding: 5px;
    }
    .btn {

    }
}

.progress-bar {
    position:relative;
    width: 500px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;
}

.progress {

    height:3em;
}

.spinner-container {
    display: none;
}


/* .progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position:absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width,0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #89CFF0;
    border-radius: 1em;
    padding: 1em;
} */